<a href="https://colab.research.google.com/github/Fernanfds/Fernanfds/blob/main/Aprendendo_Listas_em_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Listas !!

In [ ]:
n1 = [0, 1, 2, 18, 45, 38 ]
n2 = [4, 8, 9, 12, 17, 24]

valores = n1 + n2
valores[0] = 9
print(len(valores))
print(sorted(valores, reverse=True))
print(sum(valores))
print(min(valores))
print(max(valores))

In [ ]:
n1 = [0, 1, 2, 18, 45, 38 ]
n2 = [4, 8, 9, 12, 17, 24]

valores.append(13)
print(valores)
valores.pop(3)
print(valores)
valores.insert(4, 100)
print(valores)
print(99 in valores)

In [ ]:
planetas = ['Mercurio', 'Marte', 'Vênus', 'Saturno', 'Urano']
for planeta in planetas:
  print(planeta,'\n')

In [ ]:
bebidas = []

for i in range(5):
    print(f'Digite uma Bebida Favorita: ')
    bebida = input()
    bebidas.append(bebida)

bebidas.sort()

print(f'\nBebidas Escolhidas: ')
for bebida in bebidas:
    print(bebida)
print(f'\nSaúde!')

Tuplas !!

In [ ]:
# São Imutáveis, Nao se pode alterar seu Valor apos Criada !

tupla = (2,4,5,7,9)
print(tupla)

In [ ]:
halogenios = ('F', 'C1', 'Br', 'I', 'At')
gases_nobres = ('He', 'Ne', 'Ar', 'Xe', 'Kr', 'Rn')
elementos = halogenios + gases_nobres
print(halogenios[0:3])
print('C1' in halogenios)

t1 = (5,2,4,5,6,7)
print(sum(t1))
print(min(t1))
print(max(t1))
print(t1.count(5))

#Operações não disponiveis em Tuplas: sort(), .append(), reverse(), pop() !!

for elemento in elementos:
    print(f'\nElemento quimico: {elemento}')

Criar Tupla apartir de uma Lista !

In [ ]:
grupo1 = ['Li', 'Na', 'K', 'Rb', 'Cs', 'Fr']
alcalinos = tuple(grupo1)
print(alcalinos)
print(type(alcalinos))
print(sorted(alcalinos))