<a href="https://colab.research.google.com/github/Fernanfds/Fernanfds/blob/main/Aula_02_Cont_Skills_For_All_Senai_Indaiatuba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cont = 0
n = 0
num = 10
print(num)
n = n+num
cont = cont + 1
print(n)
num = 20
print(num)
n = n+num
cont = cont + 1
print(n)
cont = cont + 1
print(cont)

In [ ]:
a = 6
b = 3
a /= 2 * b
print(a)

In [ ]:
anything = float(input("Digite um número: "))
something = anything ** 2.0
print(anything, "elevado a 2 é", something)

In [ ]:
fnam = input("Posso ter seu primeiro nome, por favor? ")
lnam = input("Posso ter seu sobrenome, por favor? ")
print("Obrigado!.")
print("\nSeu nome é " + fnam + " " + lnam + ".")

In [ ]:
print("+" + 20 * "-" + "+")
print(("|" + " " * 20 + "|\n") * 8, end="")
print("+" + 20 * "-" + "+")

In [ ]:
nome = input("Digite seu Nome: ")
print(nome)

In [ ]:
name = input("Digite seu nome: ")
print("Olá, " + name + ". Prazer em conhecê-lo!")

In [ ]:
name = input("Digite seu nome: ")
print("Olá, " + name + ". Prazer em conhecê-lo!")

print("\nPressione Enter para finalizar o programa.")
input()
print("O FIM.")

In [33]:
idade = int(input('Qual sua Idade ? '))
print("Sua idade é:", idade)

Qual sua Idade ? 38
Sua idade é: 38

In [ ]:
salario = float(input('Qual é Seu Salario ?'))
print("Seu salario é:", salario )

In [ ]:
#"James" * 3 gera "James,James,James"
"James," * 3

In [ ]:
curso = 'Python'
n = curso*4
print(curso * 3)

In [ ]:
num_1 = input("Digite o primeiro número: ")
num_2 = input("Digite o segundo número: ")

print(num_1 + num_2)

In [ ]:
x = int(input("Digite um número: "))
print(x * "5")

In [ ]:
x = int(input())
y = int(input())

x = x % y
print(x)
x = x % y
print(x)
y = y % x

print(y)

In [ ]:
var = 0  # Atribuindo 0 a var
print(var != 0)

var = 1  # Atribuindo 1 a var
print(var != 0)

In [ ]:
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

# Choose the larger number
if number1 > number2: larger_number = number1
else: larger_number = number2

# Print the result
print("The larger number is:", larger_number)

In [ ]:
n1 = int(input('Digite um Numero: '))
n2 = int(input('Digite outro Numero: '))
if n1 > n2 :
    print('O Primeiro numero é o Maior !')
    print('Continuando o Programa')
    print('Terminou o IF - Estrutura Condicional')

In [ ]:
maior = 0
n1 = int(input('Digite Um Numero: '))
n2 = int(input('Digite Outro Numero: '))
if n1 > n2 :
  maior = n1
else:
  maior = n2
print("O Maior Numero é o:", maior)

In [24]:
b1 = True
b2 = False
if b1 > b2 :
  print("Verdadeiro")
else:
  print("Falso")

Verdadeiro

In [ ]:
n1 = int(input("Digite sua 1° Nota: "))
n2 = int(input("Dgite sua  2° Nota: "))
n3 = int(input("Digite sua 3° Nota: "))
n4 = int(input("Digite sua 4° Nota: "))

media = (n1+n2+n3+n4) /4
if media >= 7:
  print('O aluno está APROVADO')
elif media >= 5 and media <7:
  print("Ficou de RECUPERAÇÃO")
else:
  print("Aluno infelizmente REPROVADO")

In [ ]:
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))
number3 = int(input("Enter the third number: "))


largest_number = max(number1, number2, number3)


print("The largest number is:", largest_number)

In [33]:
name = input("Enter flower name: ")

if name == "Spathiphyllum":
    print("Yes - Spathiphyllum is the best plant ever!")
elif name == "spathiphyllum":
    print("No, I want a big Spathiphyllum!")
else:
    print("Spathiphyllum! Not", name + "!")

Enter flower name: Spathiphyllum
Yes - Spathiphyllum is the best plant ever!

In [ ]:
income = float(input("Enter the annual income: "))

if income < 85528:
	tax = income * 0.18 - 556.02
else:
	tax = (income - 85528) * 0.32 + 14839.02

if tax < 0.0:
	tax = 0.0

tax = round(tax, 0)
print("The tax is:", tax, "thalers")

In [ ]:
year = int(input("Enter a year: "))

if year < 1582:
	print("Not within the Gregorian calendar period")
else:
	if year % 4 != 0:
		print("Common year")
	elif year % 100 != 0:
		print("Leap year")
	elif year % 400 != 0:
		print("Common year")
	else:
		print("Leap year")

In [ ]:
x = 10

if x == 10: # True
    print("x == 10")

if x > 15: # False
    print("x > 15")

elif x > 10: # False
    print("x > 10")

elif x > 5: # True
    print("x > 5")

else:
    print("else will not be executed")

In [ ]:
x = 10

if x > 5: # True
    if x == 6: # False
        print("nested: x == 6")
    elif x == 10: # True
        print("nested: x == 10")
    else:
        print("nested: else")
else:
    print("else")