<a href="https://colab.research.google.com/github/Fernanfds/Fernanfds/blob/main/Aula_02_Skills_For_All_Senai_Indaiatuba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cont = 0
n = 0
num = 10
print(num)
n = n+num
cont = cont + 1
print(n)
num = 20
print(num)
n = n+num
cont = cont + 1
print(n)
cont = cont + 1
print(cont)

In [ ]:
a = 6
b = 3
a /= 2 * b
print(a)

In [ ]:
anything = float(input("Digite um número: "))
something = anything ** 2.0
print(anything, "elevado a 2 é", something)

In [ ]:
fnam = input("Posso ter seu primeiro nome, por favor? ")
lnam = input("Posso ter seu sobrenome, por favor? ")
print("Obrigado!.")
print("\nSeu nome é " + fnam + " " + lnam + ".")

In [ ]:
print("+" + 20 * "-" + "+")
print(("|" + " " * 20 + "|\n") * 8, end="")
print("+" + 20 * "-" + "+")

In [ ]:
nome = input("Digite seu Nome: ")
print(nome)

In [ ]:
name = input("Digite seu nome: ")
print("Olá, " + name + ". Prazer em conhecê-lo!")

In [ ]:
name = input("Digite seu nome: ")
print("Olá, " + name + ". Prazer em conhecê-lo!")

print("\nPressione Enter para finalizar o programa.")
input()
print("O FIM.")

In [33]:
idade = int(input('Qual sua Idade ? '))
print("Sua idade é:", idade)

Qual sua Idade ? 38
Sua idade é: 38

In [ ]:
salario = float(input('Qual é Seu Salario ?'))
print("Seu salario é:", salario )

In [ ]:
#"James" * 3 gera "James,James,James"
"James," * 3

In [ ]:
curso = 'Python'
n = curso*4
print(curso * 3)

In [ ]:
num_1 = input("Digite o primeiro número: ")
num_2 = input("Digite o segundo número: ")

print(num_1 + num_2)

In [55]:
x = int(input("Digite um número: "))
print(x * "5")

Digite um número: 3
555