<a href="https://colab.research.google.com/github/Fernanfds/Fernanfds/blob/main/Senai_Python_com_BigData2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
data = {
    'nome' : ['Joao', 'Maria', 'Pedro', 'Ana', 'Carlos'],
    'idade' : [25, 30, 35, 40, 45],
    'cidade' : ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre'],
    'salario' : [5000.00, 6000.00, 7000.00, 8000.00, 9000.00]
}

df = pd.DataFrame(data)
print(df)

     nome  idade          cidade  salario
0    Joao     25       São Paulo   5000.0
1   Maria     30  Rio de Janeiro   6000.0
2   Pedro     35  Belo Horizonte   7000.0
3     Ana     40        Curitiba   8000.0
4  Carlos     45    Porto Alegre   9000.0

In [5]:
dados1 = {
    'nome' : ['joão', 'Maria'],
    'idade' : [25, 30],
}

dados2= {
    'nome' : ['Carlos', 'Ana'],
    'idade' : [35, 40],

}

dados3  = {
    'nome' : ['Pedro', 'Julia'],
    'idade' : [45, 50],
}

df = pd.concat ([pd.DataFrame(dados1),
                pd.DataFrame(dados2),
                pd.DataFrame(dados3)],
                ignore_index=True)

df= df.sort_values(by='nome')
df = df.reset_index()
df.drop('index')
print(df)

     nome  idade
0    joão     25
1   Maria     30
2  Carlos     35
3     Ana     40
4   Pedro     45
5   Julia     50

In [9]:
data4 = {
    'ID' : [1, 2, 3, 4],
    'nome' : ['Joao', 'Maria', 'josé', 'Pedro'],

}
data4 = pd.DataFrame(data4)

data5 = {
    'ID' : [3, 4, 5, 6],
    'cargo' : ['Advogado', 'Médico', 'Engenheiro', 'Professor'],
}

data5 = pd.DataFrame(data5)

df = pd.merge(data4, data5, on='ID', how='right')

print(df)

   ID   nome       cargo
0   3   josé    Advogado
1   4  Pedro      Médico
2   5    NaN  Engenheiro
3   6    NaN   Professor

In [21]:
import pandas as pd

df = pd.read_csv('Pasta1.csv', sep=';', encoding='utf-8')

print(df)

   A   B   C   D  Unnamed: 4
0   1   2   3  4         NaN

In [23]:
df1 = pd.read_excel('Pasta1.xlsx', sheet_name='Planilha2')
print(df)

   A   B   C   D  Unnamed: 4
0   1   2   3  4         NaN