<a href="https://colab.research.google.com/github/Fernanfds/Fernanfds/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
num=[1, 1, 2, 8, 9, 0, 8, 7, 6, 5, 5,]
num[2:3]
num[5:9]
num[0:11]
num[1:11]
num[0:10:3]
num[10:]
num[-3:]
num[-4:]
len(num)
num.count(1)
quantidade = num.count(1)
print("O numero 1 aparece", quantidade, "vezes na lista")

O numero 1 aparece 2 vezes na lista

In [34]:
Bolsas=['dow', 'ibov', 'ftse', 'dax', 'nasdaq', 'cac']
print(Bolsas[:3])

import sys
print(sys.exc_info()[1])
print(Bolsas[5])



Bolsas=['dow', 'ibov', 'ftse', 'dax', 'nasdaq', 'cac']
Bolsas.insert(5, 'hong kong')
Bolsas.insert(6, 'merval')
print(Bolsas)

Bolsas.index('nasdaq')
#Bolsas.remove('cac')

Bolsas.insert(2, 'sp&500')
print(Bolsas)

['dow', 'ibov', 'ftse']
None
cac
['dow', 'ibov', 'ftse', 'dax', 'nasdaq', 'hong kong', 'merval', 'cac']
['dow', 'ibov', 'sp&500', 'ftse', 'dax', 'nasdaq', 'hong kong', 'merval', 'cac']

In [51]:
import statistics as st
bov = ['dow', 'ibov', 'sp&500', 'ftse', 'dax', 'nasdaq', 'hong kong', 'merval', 'cac']
lista = [2,2,3,3,3,-1,-1,-2,0,0,0,2,4,5,1,2,2,0,0,0,1,5,5,7,6,5,0,0]
print(lista)
sum(lista)
max(lista)
min(lista)
st.median(lista)
st.mean(lista)
st.mode(lista)
st.stdev(lista)
st.pstdev(lista)
lista.count(0)
lista.count(5)
lista.sort()
print(lista)
lista.reverse()
print(lista)

[2, 2, 3, 3, 3, -1, -1, -2, 0, 0, 0, 2, 4, 5, 1, 2, 2, 0, 0, 0, 1, 5, 5, 7, 6, 5, 0, 0]
[-2, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 4, 5, 5, 5, 5, 6, 7]
[7, 6, 5, 5, 5, 5, 4, 3, 3, 3, 2, 2, 2, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, -1, -1, -2]

# Nova seção

In [58]:
#Algoritmo do Ano de Nascimento

idade=int(input("Idade= "))
ano=2024-idade
print(ano)

Idade= 61
1963

In [59]:
#Calculo da area de um circulo
import math

raio=float(input("raio = "))
area=math.pi*raio**2
print("area = ",area)

raio = 3.5
area =  38.48451000647496

In [60]:
#Exemplo02
import math

x=float(input("x = "))
y=float(input("y = "))
z=math.sqrt(x**2+y**2)-math.log(x)+math.exp(y)

print("valor de z = ",z)

x = 2
y = 3
valor de z =  22.997941018091712

In [61]:
#Exemplo03

r1=float(input("retorno 1 = "))
r2=float(input("retorno 2 = "))
r3=float(input("retorno 3 = "))

p1=float(input("probabilidade 1 = "))
p2=float(input("probabilidade 2 = "))
p3=float(input("probabilidade 3 = "))

ret_medio = r1*p1 + r2*p2 + r3*p3

print("retorno medio = " , ret_medio)

retorno 1 = 100
retorno 2 = 90
retorno 3 = 120
probabilidade 1 = 0.2
probabilidade 2 = 0.7
probabilidade 3 = 0.1
retorno medio =  95.0